*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
}
.QandA-container
{

    padding-top: 80px;
    height: 100vh;
    width: 100%;
    /* max-width: 500px; */
    display: flex;
    align-items: center;
    justify-content: start; 
    flex-direction: column;
}
.QandA-container> div{
    max-width: 500px;
    padding: 30px;
    box-shadow: 5px 20px 20px rgb(153, 144, 144);
}
.question-container{
    margin: 10px 0;
    padding: 10px 0;
}
.option-container{
    margin: 20px 0;
    cursor: pointer;
}
.option{
    background-color: rgb(169, 214, 218);
    padding: 5px 0;
    width: 100%;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.option:hover{
    background-color: rgb(15, 235, 235);
}
.btn-container{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-self: center;
}
.next-question-btn,.play-again-btn{
    border: none;
    background-color:white;
    border:1px solid rgb(24, 18, 18) ;
    color: rgb(231, 15, 15);
    padding: 5px 10px ;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.next-question-btn:hover,.play-again-btn:hover{
    background-color: red;
    color: white;
    /* red */
}
.score-container{
    font-size: 1.2em;
    padding-bottom: 20px;
    
}
.score{
    color: green;
    font-size: 1.2em;
    font: bold;
}